@model LyricsApp.Models.ViewModels.IndexPageModel

<body>
    <form asp-controller="Home" asp-action="GetLyricsByArtistAndTitle" method="get">
        <p>
            <center>
                <label asp-for="data.artist">Artist:</label>
                <input asp-for="data.artist" value="Metallica" />

                <br />

                <label asp-for="data.title">Title:&nbsp;&nbsp;</label>
                <input asp-for="data.title" value="One" />
                <br /><br />
                <input type="submit" value="Get lyrics">
                <br /><br />
        <p>
            Oops, something went horribly wrong. Please try again.
        </p>

        </center>
        </p>

    </form>
</body>
