@model Tuple<IEnumerable<LyricsApp.Models.Database.FavouriteSong>,LyricsApp.Models.ViewModels.Data>

<body>
    <form asp-controller="Home" asp-action="GetLyricsByArtistAndTitle" method="get">
        <p>
            <center>
                <label asp-for="Item2.artist">Artist:</label>
                <input asp-for="Item2.artist" value="Metallica" />

                <br />

                <label asp-for="Item2.title">Title:&nbsp;&nbsp;</label>
                <input asp-for="Item2.title" value="One" />
                <br /><br />
                <input type="submit" value="Get lyrics">
            </center>
        </p>
        <p>
            <h3>Your favourite songs:</h3>
            @foreach (var item in Model.Item1)
            {
                <p>
                @Html.DisplayFor(m => item.Title)
                by
                @Html.DisplayFor(m => item.Artist)
                </p>
            }
        </p>

    </form>
</body>
